.footer
    .containerr.pt-4.pb-4
        .row.justify-content-between
            .col-lg-5.col-sm-12.mb-4
                img(src="/img/logo-footer.svg", alt="logo footer")
                p.mt-3.slogan Smart defense against unwanted<br>access and protect your website.
                .social-icons
                    a(href="", target="_blank", rel="noopener noreferrer")
                        img(src="/img/ic-fb.svg", alt="")
                    a.ms-2(href="", target="_blank", rel="noopener noreferrer")
                        img(src="/img/ic-x.svg", alt="")
                    a.ms-2(href="", target="_blank", rel="noopener noreferrer")
                        img(src="/img/ic-tele.svg", alt="")
                    a.ms-2(href="", target="_blank", rel="noopener noreferrer")
                        img(src="/img/ic-yt.svg", alt="")
            .col-lg-7.col-sm-12.pt-2
                .row.list-link
                    .col-md-3.col-lg-3.col-6.pt-2
                        h5 Product
                        ul.list-unstyled.pt-2
                            li.pt-2
                                a.text-decoration-none(href="") Home
                            li.pt-2
                                a.text-decoration-none(href="") Features
                    .col-md-3.col-lg-3.col-6.pt-2
                        h5 Resources
                        ul.list-unstyled.pt-2
                            li.pt-2
                                a.text-decoration-none(href="") Blog
                            li.pt-2
                                a.text-decoration-none(href="") Documentation
                    .col-md-3.col-lg-3.col-6.pt-2
                        h5 Company
                        ul.list-unstyled.pt-2
                            li.pt-2
                                a.text-decoration-none(href="") About us
                            li.pt-2
                                a.text-decoration-none(href="") Contact us
                            li.pt-2
                                a.text-decoration-none(href="") FAQs
                    .col-md-3.col-lg-3.col-6.pt-2
                        h5 Platforms
                        ul.list-unstyled.pt-2
                            li.pt-2
                                a.text-decoration-none(href="") Shopify
        .site-footer.d-flex.justify-content-between
            .copy-right 
                span Copyright © 2024 Browsify
            .terms-policy
                a.text-decoration-none(href="") Terms of Service
                span.mx-3 | 
                a.text-decoration-none(href="") Privacy Policy